{% extends "layout.html.twig" %}

{% block content %}
<div id="gallery">
  {% for image in images %}
    <div>
      {% if image.userVoted %}<div class="voted">das will ich</div> {% endif %}
      <a href="{{path('image', { 'imageId': image.imageid})}}"><img src="/photos/{{image.thumbname}}" /></a>
    </div>
  {% endfor %}
</div>
{% endblock %}

