{% extends "layout.html.twig" %}

{% block content %}
<div id="gallery">
  {% for image in images %}
    <a title="bild nummer 1" rel="shadowbox[wvm]" href="photos/{{image.filename}}"><img src="photos/{{image.thumbname}}" /></a>
  {% endfor %}
</div>
{% endblock %}

